$color-accent-text: #df6d10;
$color-accent-text-bg: rgb(218, 216, 216);

$wrong-text-color: rgb(209, 72, 72);
$correct-text-color: rgb(60, 212, 22);

$haiku-card-bg-color: rgb(241, 241, 241);

$fab-button-color: #df6d10;